{% extends 'webexample/layout.html' %}


{% block title %}{{ articles.title }}{% endblock %}

{% block info_menu %}
          <ul class = "menu">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'rezume' %}">Резюме</a></li>
            <li class="selected"><a href="{% url 'news_home' %}">Новости</a>
              <ul class="submenu">
                <li><a href="{% url 'create' %}" id="qwert">Добавить новость</a></li>
              </ul>
            </li>
            <li><a href="{% url 'contact' %}">Контакты</a></li>
          </ul>
{% endblock %}



{% block content %}

        <div class="stat">
        <h2>{{ articles.title }}</h2>
        <h6>{{ articles.date }}</h6>
        <p>{{ articles.full_text }}</p>
        <a href="{% url 'news-delete' articles.id %}" class="delete">Удалить</a>
         <a href="{% url 'news-update' articles.id %}" class="update">Редактировать</a>
        </div>

{% endblock %}













